@keyframes container-expand {
    0% { width: 31%; }
  100% { width: 97%; }
}

@keyframes container-impand {
    0% { width: 97%; }
  100% { width: 31%; }
}

@keyframes container-expand-height {
    0% { height: 15rem; }
  100% { height: 45rem; }
}

@keyframes container-impand-height {
    0% { height: 45rem; }
  100% { height: 15rem; }
}

.titleSlideDown {
    -webkit-animation: title-slide-down .5s ease-out;
    -moz-animation: title-slide-down .5s ease-out;
}

.titleSlideUp {
    -webkit-animation: title-slide-up .5s ease-out;
    -moz-animation: title-slide-up .5s ease-out;
}

.containerExpand {
    animation: container-expand .5s ease-out;
}

.containerImpand {
    animation: container-impand .5s ease-out;
}

.containerExpandHeight {
    animation: container-expand-height .5s ease-out;
}

.containerImpandHeight {
    animation: container-impand-height .5s ease-out;
}

.expanded {
    width: 97%;
}

.impanded {
    width: 31%;
}

.expandedHeight {
    height: 45rem;
}

.impandedHeight {
    height: 15rem;
}

.posTop {
    -moz-transform: translate(-50%, 0);
}

.posDown {
    -moz-transform: translate(-610%, 300%);
}
