@-webkit-keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translate(0, -100%); }
  100% { opacity: 1; -webkit-transform: translate(0, 0); }
}

@-moz-keyframes slide-down {
    0% { opacity: 0; -moz-transform: translate(0, -100%); }
  100% { opacity: 1; -moz-transform: translate(0, 0); }
}

@-webkit-keyframes slide-up {
    0% { opacity: 1; -webkit-transform: translate(0, 0); }
  100% { opacity: 0; -webkit-transform: translate(0, -100%); }
}

@-moz-keyframes slide-up {
    0% { opacity: 1; -moz-transform: translate(0, 0); }
  100% { opacity: 0; -moz-transform: translate(0, -100%); }
}

@-webkit-keyframes make-appear {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes make-appear {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes make-disappear {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes make-disappear {
    0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes container-expand {
    0% { width: 31%; }
  100% { width: 97%; }
}

@keyframes container-impand {
    0% { width: 97%; }
  100% { width: 31%; }
}

.slideDown {
    -webkit-animation: slide-down .5s ease-out;
    -moz-animation: slide-down .5s ease-out;
}

.slideUp {
    -webkit-animation: slide-up .5s ease-out;
    -moz-animation: slide-up .5s ease-out;
}

.titleSlideDown {
    -webkit-animation: title-slide-down .5s ease-out;
    -moz-animation: title-slide-down .5s ease-out;
}

.titleSlideUp {
    -webkit-animation: title-slide-up .5s ease-out;
    -moz-animation: title-slide-up .5s ease-out;
}

.containerExpand {
    animation: container-expand .5s ease-out;
}

.containerImpand {
    animation: container-impand .5s ease-out;
}

.makeAppear {
    animation: make-appear .5s ease-out;
}

.makeDisappear {
    animation: make-disappear .5s ease-out;
}

.expanded {
    width: 97%;
}

.impanded {
    width: 31%;
}

.appear {
    opacity: 1;
}

.disappear {
    opacity: 0;
}

.posTop {
    -moz-transform: translate(-50%, 0);
}

.posDown {
    -moz-transform: translate(-610%, 300%);
}
