body {
  overflow-y: scroll;
}

.navigatorIndexContainer {
  height: 40%;
  width: 100%;

  margin-top: -7%;
}

.navigatorIndex {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  height: 26rem;
  width: 100%;

  margin-left: -6%;
}

.navigatorIndex > li {
  padding-top: 1%;
}

.navigatorIndex > li > a {
  text-decoration: none;

  color: var(--main-white);
  transition: color .2s linear;
}

.navigatorIndex > li > a:hover {
  color: var(--main-blue);
}

h3 {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.codeAndLabel > pre {
  font-size: 1.2rem;
  border-left: 2px solid var(--main-blue);
  padding-left: 10%;
}

.codeAndLabel > pre > code {
  font-family: 'Nanum Gothic Coding', monospace;
}

.codeAndLabel code > strong {
  color: var(--main-blue);
}

.codeAndLabel .codeLabel {
  border-left: 2px solid var(--main-blue);
  padding-left: 10%;
  font-family: 'Nanum Gothic Coding', monospace;
}

.mainPage p {
  color: var(--main-black);
  font-size: 1.2rem;
}

.chapter {
  padding-top: 1%;
}

.codeContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.codeCommentsContainer {
  padding-left: 10%;
}

.codeCommentsContainer .codeCommentHead {
  font-size: 1.5rem;
  color: var(--main-blue);
}

.codeCommentsContainer .codeComment {
  font-size: 1.2rem;
  width: 90%;
}

.codeComment > ul {
  color: var(--main-black);
}

.list {
  font-size: 1.2rem;
  color: var(--main-black);
}

.list > li {
  padding: 1rem;
}

.list > li > a {
  text-decoration: none;
  color: var(--main-black);
  transition: color .5s linear;
}

.list > li > a:hover {
  color: var(--main-blue);
}

@media only screen and (max-device-width: 480px) {
  .mainPage {
    top: 0%;
  }

  .mainPage p {
    font-size: 3rem;
  }

  .mainPage > pre {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 4rem;
  }

  .codeAndLabel > pre {
    font-size: 3.2rem;
  }

  .codeCommentsContainer {
    display: none;
  }

  #toRemoveMobile {
    display: none;
  }
}
