.exerciseTitle {
  font-size: 2rem;
  color: #3c3744;
  text-align: center;
}

.exerciseContainer {

}

.exerciseInfo {

}

.exerciseInfoLabel {

}

.exerciseInfoPar {

}

.exerciseCodeContainer {

}

.exerciseCodeHeader {

}

.exerciseCodeHeaderLabel {

}

.exerciseCodeCpp {

}

.exerciseCodeCppLabel {
  
}
