.allPartsContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.partContainer {
    width: 31%;
    height: 15rem;
    margin: 1%;

    background-color: #3c3744;
    text-align: center;
    color: #fbfff1;
    border-radius: 1%;

    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.partName {
    font-size: 2rem;
    position: absolute;
    top: 25%;
}

.partInfo {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 15rem;

    display: none;
}

.partDescription {
    pointer-events: none;
}

.partIndex {
    height: 80%;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.partIndex > li {
    font-size: 1.3rem;
}

.partIndex > li > a {
    color: #fbfff1;
    text-decoration: none;
}

.partIndex > li > a:hover {
    color: #9bc1bc;
}
