.allPartsContainer {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.partContainer {
    width: 31%;
    height: 15rem;
    margin: 1%;

    background-color: #3c3744;
    text-align: center;
    color: #fbfff1;
    border-radius: 1%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.partName {
    font-size: 2rem;
    position: absolute;
    top: 25%;
}

.partInfo {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    width: 100%;

    opacity: 0;
}

.partDescription {
    height: 100%;
    width: 20%;
    margin-left: 5%;
    pointer-events: none;
}

.partIndex {
    width: 75%;
    height: 15rem;

    display: flex;
    flex-flow: column wrap;
}

.partIndex > li {
    font-size: 1.3rem;
}

.partIndex > li > a {
    color: #fbfff1;
    text-decoration: none;
}

.partIndex > li > a:hover {
    color: #9bc1bc;
}
