.mainTitle > a {
  text-decoration: none;
  color: var(--main-blue);

  transition: color .5s linear;
}

.mainTitle > a:hover {
  color: var(--main-black);
}

#allLanguagesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.languageContainer {
    width: 31%;
    height: 15rem;
    margin: 1%;

    text-decoration: none;

    background-color: #3c3744;
    text-align: center;
    color: #fbfff1;
    border-radius: 1%;

    cursor: pointer;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.languageName {
    font-size: 2rem;
    padding: 0 2%;

    transition: opacity .5s linear;
}

.languageDescriptionTitle {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    bottom: 20%;

    width: 95%;

    transition: opacity .3s linear;
}

.languageDescription {
    display: none;
    position: absolute;
    text-align: left;
    top: 2%;

    width: 95%;

    transition: opacity .5s linear;
}
