.mainTitle > a {
  text-decoration: none;
  color: var(--main-blue);

  transition: color .5s linear;
}

.mainTitle > a:hover {
  color: var(--main-black);

}
#allLanguagesContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

.languageContainer {
    width: 31%;
    height: 15rem;
    margin: 1%;

    background-color: #3c3744;
    text-align: center;
    color: #fbfff1;
    border-radius: 1%;

    cursor: pointer;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color .5s, background-color .5s linear;
}

.languageContainer:hover {
  color: var(--main-blue);
}

.languageName {
    font-size: 2rem;
    padding: 0 2%;
}
